# backup files
*.bak

# local override configs
/configs/x11/xresources.local
/configs/fontconfig/local.conf

# package control stuff
/configs/sublime-text/*.cache
/configs/sublime-text/*.last-run
/configs/sublime-text/Package Control.merged-ca-bundle
/configs/sublime-text/Package Control.user-ca-bundle
/configs/sublime-text/TextPastryHistory.sublime-settings
/configs/sublime-text/oscrypto-ca-bundle.crt

# vim files
/configs/vim/.netrwhist

# other
/notes
