[Unit]
Description=Dropbox
After=local-fs.target network.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
ExecStartPre=-%h/code/dotfiles/scripts/upgrade/dropbox.sh
ExecStart=%h/.dropbox-dist/dropboxd
Restart=always
RestartSec=60
