<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://openbox.org/
				file:///usr/share/openbox/menu.xsd">

	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal">
			<action name="Execute">
				<command>
					x-terminal-emulator
				</command>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<command>
					x-www-browser
				</command>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<command>
					thunar
				</command>
			</action>
		</item>
		<separator/>
		<menu id="openbox" label="Openbox">
			<item label="Configuration">
				<action name="Execute">
					<command>
						obconf
					</command>
				</action>
			</item>
			<item label="Applications">
				<action name="Execute">
					<command>
						obapps
					</command>
				</action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
		</menu>
		<menu id="settings" label="Settings">
			<item label="Screen Layout">
				<action name="Execute">
					<command>
						arandr
					</command>
				</action>
			</item>
			<item label="Notifications">
				<action name="Execute">
					<command>xfce4-notifyd-config</command>
				</action>
			</item>
			<item label="Appearance">
				<action name="Execute">
					<command>
						lxappearance
					</command>
				</action>
			</item>
			<item label="Power Management">
				<action name="Execute">
					<command>
						xfce4-power-manager-settings
					</command>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<command>
					lock
				</command>
			</action>
		</item>
		<item label="Log out">
			<action name="Execute">
				<command>
					openbox --exit
				</command>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<command>
					suspend
				</command>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<command>
					dbus-send --system --print-reply --dest=\"org.freedesktop.ConsoleKit\" /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Restart
				</command>
			</action>
		</item>
		<item label="Shut down">
			<action name="Execute">
				<command>
					dbus-send --system --print-reply --dest=\"org.freedesktop.ConsoleKit\" /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Stop
				</command>
			</action>
		</item>
	</menu>
</openbox_menu>
